# https://help.github.com/en/categories/automating-your-workflow-with-github-actions

on:
  - pull_request
  - push

name: CI

jobs:
  unittests:
    name: Unit tests

    continue-on-error: true
    strategy:
      matrix:
        osversion:
          - windows-latest
          - ubuntu-latest
          - macos-latest
    runs-on: ${{ matrix.osversion }}

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup dotnet 3.1
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '3.1' # SDK Version to use.
      - run: dotnet restore --configfile Nuget.config --packages ../packages
        working-directory: ./commercetools.Sdk
      - run: dotnet build --no-restore --source ../packages -c Release
        working-directory: ./commercetools.Sdk
      - run: dotnet test --verbosity=normal Tests/commercetools.Api.Serialization.Tests --no-build -c Release
        working-directory: ./commercetools.Sdk
      - run: dotnet test --verbosity=normal Tests/commercetools.Api.Tests --no-build -c Release
        working-directory: ./commercetools.Sdk

  integrationtests:
    name: Integration tests

    runs-on: ubuntu-latest

    strategy:
      max-parallel: 1
      matrix:
        container:
          - BuiltIn
    env:
      CTP_Container: ${{ matrix.container }}
      CTP_Client__ClientId: ${{ secrets.CTP_CLIENT_ID }}
      CTP_Client__ClientSecret: ${{ secrets.CTP_CLIENT_SECRET }}
      CTP_Client__ProjectKey: ${{ secrets.CTP_PROJECT_KEY }}
      CTP_Client__Scope: ${{ secrets.CTP_SCOPE }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '3.1' # SDK Version to use.
      - run: dotnet restore --configfile Nuget.config --packages ../packages
        working-directory: ./commercetools.Sdk
      - run: dotnet build --no-restore --source ../packages -c Release
        working-directory: ./commercetools.Sdk
      - run: dotnet test IntegrationTests/commercetools.Api.IntegrationTests --no-build -c Release
        if: github.event_name == 'push'
        working-directory: ./commercetools.Sdk
      - run: dotnet test IntegrationTests/commercetools.Api.IntegrationTests --no-build -c Release
        if: github.event_name == 'pull_request'
        working-directory: ./commercetools.Sdk
        env:
          CTP_Client__ClientId: ${{ secrets.CTP_CLIENT_ID_PR }}
          CTP_Client__ClientSecret: ${{ secrets.CTP_CLIENT_SECRET_PR }}
          CTP_Client__ProjectKey: ${{ secrets.CTP_PROJECT_KEY_PR }}
          CTP_Client__Scope: ${{ secrets.CTP_SCOPE_PR }}

  artifacts:
    name: Create artifacts
    runs-on: ubuntu-latest
#    needs: [unittests, integrationtests]

    steps:
      - uses: actions/checkout@v2
      # Authenticates packages to push to GPR
      - uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '3.1'
          source-url: https://nuget.pkg.github.com/commercetools/index.json
        env:
          NUGET_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - run: ./patch_csproj.rb --version 0.1.0-alpha-${{ github.run_number }} --patch **/*.csproj
      - run: dotnet restore --configfile Nuget.config --packages ../packages
        working-directory: ./commercetools.Sdk
      - run: dotnet build --no-restore --source ../packages -c Release
        working-directory: ./commercetools.Sdk
      - name: Create the package
        run: dotnet pack -c Release  -o ../pack/ --configfile Nuget.config
        working-directory: ./commercetools.Sdk
      - name: List packages
        run: ls -la pack
      - name: Publish Nuget to GitHub registry
        run: dotnet nuget push "pack/*.nupkg" -k ${GITHUB_TOKEN} -s https://nuget.pkg.github.com/commercetools/index.json --skip-duplicate --no-symbols true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/upload-artifact@v1
        with:
          name: commercetools.Sdkv2.0.1.0-alpha-${{ github.run_number }}
          path: pack

