name: Docs

on:
  workflow_dispatch: 
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+*'

jobs:
  unittests:
    name: Build Docs

    runs-on: ubuntu-latest

    steps:
      - name: Support longpaths
        run: git config --global core.longpaths true

      - name: Checkout
        uses: actions/checkout@v3
        with:
          path: sdk

      - name: Checkout
        uses: actions/checkout@v3
        with:
          path: doc
          ref: gh-pages

      - uses: ssciwr/doxygen-install@022351b889a5d2639382a0d55a1834a413ec6a23
        with:
          version: "1.9.8"

      - name: Generate Doxygen Documentation
        run: doxygen doxygen_config
        shell: bash
        working-directory: sdk
        env:
          PROJECT_NUMBER: ${{ github.ref_name }}
          
      - run: rm -r build_docs/html/**/*-members.html
        working-directory: sdk
        shell: bash

      - run: rsync -r --delete ./sdk/build_docs/ ./doc/docs

      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          repository: doc
          commit_message: "Update docs"
          commit_user_name: automation-commercetools
          commit_user_email: automation@commercetools.com
          commit_author: Auto Mation <automation@commercetools.com>
